<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" type="text/css" href="/template.css"> </head>
<body>
        <p>this is the meaning of life</p>
	<br>
        <% if (person) {  %>
                <p><%= person.name%><p>
        <% } %>
</body>
</html>
