<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/template_question.css">
  </head>

  <body>
		<h1>Login</h1>

		<p>
			<form action="/login" method="POST">
				Username: <input type="text" name="username"><br />
				Password: <input type="password" name="password"><br />
        Question: <input type="question" name="question"><br />
        <br>
				<input type="submit" name="submit" value="Submit">
			</form>
		</p>
  </body>
  </html>
