<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/template_meaning.css">
	</head>
	<body>
		<h1> <%= username %>!</h1>
		<p>Awesome to have you on board! <br>
			You last asked me this very philosophical question:<br>
			<h1><%= question %> </h1>
			<p>Wow. That's deep! </p><br>
		<p>I have no answer to this  - and forgot all your last questions.<br>
			I am very sorry.
		<br>
		<a href="/logout">Logout</a>
	</p>
	</body>
</html>
