<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/template_meaning.css">
</head>
<body>
        <p> the meaning of life <br><br> </p>
        <h1 id="output"></h1><br>
        <script type="text/javascript">
                let meaning = "";
                meaning = "<%=data%>";
                document.getElementById("output").innerHTML=meaning;
        </script>
</body>
</html>
