@import url('https://fonts.googleapis.com/css?family=Cutive+Mono:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  font-size: 100%;
  margin-top: 20%; 
  background-image: url("meaning_plain_2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

p {
  color: white;
  font-family: 'Cutive Mono', monospace;
  font-size:1.0em;
  text-align: center;
}

input[type=text] {
  color: red;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}
input[type=submit] {
  color: red;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}
textarea{
  color: red;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}

form {
  text-align: center;
}
